@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

header {
    height: 100px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;

}

.logoHeader .logoFooter {
    display: flex;
    margin: 10px 30px;
    font-size: 24px;
    align-items: center;
}

.logoPizza {
    padding: 14px 18px;
}

p {
    color: black;
    font-size: 20px;
}

.company {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: white;
    margin: 20px;
    font-size: 24px;
}

.pizza {
    color: #39B24A;
}

.front {
    color: #FC200C;
}

.menu {
    display: flex;
    margin: 20px;
}

.menuHeader {
    display: flex;
    justify-content: center;
    align-items: center;

}

.menuHeader, a {
    list-style: none;
    color: white;
    text-decoration: none;
    margin: 4px;
}

.item-nav {
    padding: 5px ;
}

main {
    display: flex;
    justify-content: center;
    margin: 50px 150px 50px 100px;
}

section{
    position: relative;
    display: flex;
}

.deliveryPic {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pizzas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.namePodiumPizza {
    color: #FC200C;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    padding-left: 100px;
}

.top {
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    
}

section, div, .list, article{
    display: flex;
}

.list {
    flex-direction: column;
    align-items: stretch;
    font-size: 20px;
    padding-left: 40px;  
    margin-right: 50px;
    width: 300px;  
    height: 178px; 
}

h3 {
    text-align: left;
    padding-bottom: 20px;
    padding-left: 50px;
}

.top5Pizza, li {
    color: black;
    font-size: 16px; 
}

.top5Pizza {
    width: 385px;
} 

.item-ranking {
    padding: 8px;
}

.pizzaFalling {
    display: flex;
    width: 92px;
    height: 129px;
    margin-left: 100px;
    padding-right: 100px;
}

footer {
    background-color: #222222;
    display: flex;
    justify-content: space-between;

}

.menuFooter, a {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 4px;
}
